---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.home-category-container {
  display: contents;

  // The rest of this is copied from .page__related in _page.scss.
  @include clearfix();
  float: left;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}


@media only screen and (max-width: 600px) {
    .invidious-container {
        width: 343;
        height: 193;
    }
}

@media only screen and (min-width: 600px) {
    .invidious-container {
        width: 560px;
        height: 315px;
    }
}


